
.navbar_brand {
    margin: 0;
    font-size: 16px;
    transform: rotate(-90deg);
    transform-origin: left;
    position: absolute;
    bottom: 10px;
    left: 25px;
  }
  
  .navbar_nav {
    display: inline-block;
    transform-origin: left;
    transform: rotate(-90deg);
    width: 380px;
    position: absolute;
    left: 25px;
    bottom: 150px;
  }
  
  .navbar_nav li {
    display: inline-block;
    margin: 0 20px
  }
  
  .navbar_nav li a {
    font-weight: 700;
    font-size: 12px;
  }
  